  <!-- Footer -->
  <footer class="white-section" id="footer">
    <div class="container-fluid footer-section">
      <i class="fab fa-facebook-f social-icon"></i>
      <i class="fab fa-instagram social-icon"></i>
      <i class="fab fa-twitter social-icon"></i>
      <i class="fas fa-envelope social-icon"></i>
      <p>© Copyright 2021 Coffee Pet</p>
    </div>
</footer>
</body>
</html>