<!-- Nav-bar -->
<header class="s-fixed">
    <section class="color-section" id="tittle">
      <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container-fluid">
            <img class="logo" src="img/Coffee Pet-LOGO1.svg" alt="Coffee Pet Logo">
          <a id="coffeepet-l" class="navbar-brand" href="#">Coffee Pet</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon">a</span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <div class="n-left s-cross-center">
                <li class="nav-item">
                  <div class="pets-btn">
                    <a id="n-pets" class="nav-link" href="pets">Pets</a>
                  </div>
                </li>
                <li class="nav-item">
                  <div class="about-btn">
                    <a id="n-about" class="nav-link" href="about">Sobre nosotros</a>
                  </div>
                </li>
              </div>
              <div class="navbar-text s-to-right s-cross-center">
                <li class="nav-item">
                  <div class="login-btn">
                    <a id="n-login" class="nav-link" href="../login">Iniciar sesion</a>
                  </div>
                </li>
                <li class="nav-item">
                  <div class="register-btn">
                    <a id="regis" class="nav-link" href="../registro">Registrate gratis</a>
                  </div>
                </li>
              </div>
            </ul>
          </div>
        </div>
      </nav>
    </section>
  </header>
  <!-- empty-section -->
  <section class="empty-section">
    <nav class="navbar navbar-expand-lg navbar-dark">
      <div class="container-fluid">
        <a id="coffeepet-l" class="navbar-brand" href="#color-section">Coffee Pet</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon">a</span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <div class="n-left s-cross-center">
              <li class="nav-item">
                <div class="pets-btn">
                  <a id="n-pets" class="nav-link" href="#">Pets</a>
                </div>
              </li>
              <li class="nav-item">
                <div class="about-btn">
                  <a id="n-about" class="nav-link" href="#">Sobre nosotros</a>
                </div>
              </li>
            </div>
            <div class="navbar-text s-to-right s-cross-center">
              <li class="nav-item">
                <div class="login-btn">
                  <a id="n-login" class="nav-link" href="login.html">Iniciar sesion</a>
                </div>
              </li>
              <li class="nav-item">
                <div class="register-btn">
                  <a id="regis" class="nav-link" href="registro.html">Registrate gratis</a>
                </div>
              </li>
            </div>
          </ul>
        </div>
      </div>
    </nav>
  </section>