<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= page %>  | Coffee Pet</title>
    <link rel="Icon" href="img/coffeepet-logo.png" type="image/x-icon">
    <!-- Bootstrap core CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.15.3/js/all.js"></script>
    <!-- <link rel="stylesheet" href="css/styles.css"> -->
    <link rel="stylesheet" href="css/perfil.css">
</head>

<!-- Nav-bar -->
<header class="">
    <section class="color-section" id="tittle">
        <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container-fluid">
            <img class="logo" src="img/Coffee Pet-LOGO1.svg" alt="Coffee Pet Logo">
            <a id="coffeepet-l" class="navbar-brand" href="home">Coffee Pet</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon">a</span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <div class="n-left s-cross-centerNB">
                        <li class="nav-item">
                        <div class="pets-btn">
                            <a id="n-pets" class="nav-link" href="upets">Pets</a>
                        </div>
                        </li>
                        <li class="nav-item">
                        <div class="about-btn">
                            <a id="n-about" class="nav-link" href="uabout">Sobre nosotros</a>
                        </div>
                        </li>
                    </div>
                    <div class="navbar-text s-to-right s-cross-centerNB">
                        <li class="nav-item">
                        <div class="login-btn">
                            <a id="n-login" class="nav-link" href="reservacion">Hacer una reservacion</a>
                        </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="User" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <%= Name %> 
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" id="perfil-options" href="../perfil"><i class="fas fa-user"></i>     Mi perfil</a></li>
                                <li><a class="dropdown-item" id="perfil-options"  href="../mis-reservaciones"><i class="fas fa-clipboard-list"></i>     Mis reservaciones</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" id="perfil-logout" href="../logout"><i class="fas fa-sign-out-alt"></i>  Cerrar sesion</a></li>
                            </ul>
                        </li>
                    </div>
                </ul>
            </div>
        </div>
    </nav>
    </section>
</header>
