<%- include("partials/header"); -%>
<!-- Introduction -->
<section class="color-section" id="">
    <div id="" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active container-fluid carousel-section">
                <h2 class="pets-text">I no longer have to sniff other dogs for love. I've found the hottest Corgi on TinDog. Woof.</h2>
                <img class="testimonial-image" src="public/img/dog-img.jpg" alt="dog-profile">
                <em>Pebbles, New York</em>
            </div>
            <div class="carousel-item container-fluid carousel-section">
                <h2 class="testimonial-text">My dog used to be so lonely, but with TinDog's help, they've found the love of their life. I think.</h2>
                <img class="testimonial-image" src="public/img/lady-img.jpg" alt="lady-profile">
                <em>Beverly, Illinois</em>
            </div>
        </div>
    </div>
  </section>
    <!-- Pets -->
    <section class="white-section" id="pets-section">
      <div id="pets-section-label">
        <label class="label-review">Pets' reviews</label>
      </div>
      <div id="pets-carousel" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
              <div class="carousel-item active container-fluid carousel-section">
                  <h2 class="testimonial-text">I no longer have to sniff other dogs for love. I've found the hottest Corgi on TinDog. Woof.</h2>
                  <img class="testimonial-image" src="public/img/dog-img.jpg" alt="dog-profile">
                  <em class="testimonial-em">Pebbles, New York</em>
              </div>
              <div class="carousel-item container-fluid carousel-section">
                  <h2 class="testimonial-text">My dog used to be so lonely, but with TinDog's help, they've found the love of their life. I think.</h2>
                  <img class="testimonial-image" src="public/img/lady-img.jpg" alt="lady-profile">
                  <em>Beverly, Illinois</em>
              </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#pets-carousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#pets-carousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
      </div>
      <div>
        <a href="pets.html">
          <button href="pets.html" class="btn btn-lg btn-primary section-btn" type="submit">M치s informaci칩n</button>
        </a>
      </div>
  
    </section>
    <!-- Testimonials -->
    <section class="testimonial-section" id="testimonials">
      <div id="testimonial-section-label">
        <label class="label-review">Customers' reviews</label>
      </div>
      <div id="testimonial-carousel" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
              <div class="carousel-item active container-fluid carousel-section">
                  <h2 class="testimonial-text">I no longer have to sniff other dogs for love. I've found the hottest Corgi on TinDog. Woof.</h2>
                  <img class="testimonial-image" src="public/img/dog-img.jpg" alt="dog-profile">
                  <em>Pebbles, New York</em>
              </div>
              <div class="carousel-item container-fluid carousel-section">
                  <h2 class="testimonial-text">My dog used to be so lonely, but with TinDog's help, they've found the love of their life. I think.</h2>
                  <img class="testimonial-image" src="public/img/lady-img.jpg" alt="lady-profile">
                  <em>Beverly, Illinois</em>
              </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#testimonial-carousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#testimonial-carousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
        <div>
          <a href="pets.html">
            <button href="pets.html" class="btn btn-lg btn-primary section-btn" type="submit">M치s informaci칩n</button>
          </a>
        </div>
  
    </section>
<%- include("partials/footer"); -%>