/*Nav Bar section*/

.logo{
    margin-top: -0.1rem;
    height: 50px;
    width: 100px;
}

#coffeepet-l{
    font-weight: 600;
}

.navbar{
    padding: .3rem 0 .3rem 4.5rem;
    float: inline-start;
    
}

.dropdown{
    margin-left: 40rem;
    color:white;
}

.s-fixed{
    z-index:100;
    position:fixed;
    width:100%;
}

/*Sections*/

.color-section{
    background-color:#ff4c68;
    color: white;
}

.s-cross-centerNB {
    -moz-box-align: center;
    align-items: center;
    align-content: center;
    display: flex;
    flex-wrap: wrap;
}

.s-to-right {
    margin-right: 0;
    margin-left: 29rem;
}

.pets-btn{
    border: 0px solid;
    border-radius: 5px;
    margin-right: 0.5rem;
}

.about-btn{
    border: 0px solid;
    border-radius: 5px;
    margin-right: 0.5rem;
}

h1{
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    margin-left: 1rem;
}

h2{
    margin-top: 2rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
}

h3{
    text-align: center;
    font-size: 30px;
    font-weight: 400;
    margin-top: 2rem;
    margin-left: 1rem;
}

h4{
    font-size: 25px;
    font-weight: 350;
    margin-left: 1rem;
}

table{
    margin-top: 2rem;
    border: 1px solid;
    color:rgba(70, 73, 75, 0.836);
    background-color: white;
}

tr{
    border: 1px solid;
}
th,td{
    text-align:center;
    border: 1px solid;
    padding: 1rem 1.5rem;
    border-color:rgba(70, 73, 75, 0.623);
}
.sections{
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: #F7F7F7;
}
/* #reservacion-section{
    background-color: #f7647a;

}

#mascotas-section{
    background-color:#ef8172;
}

#empleados-section{
    background-color: #ff4c68;
} */

.btn{
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    margin-left: 2rem;
    font-size: 20px;
}

.input-container{
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 0.7rem;
}

.double-container{
    position: relative;
    float: left;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

label{
    margin-left: 1rem;
    margin-right: 2rem;
}

#navbarDropdown{
    color: white;
    font-weight: 600;
}

.reservacion-tabla{
    margin-bottom: 4rem;
}

.radio-part{
    margin-top: -1.5rem;
    margin-bottom: 2rem;
    margin-left: 5rem;
}
.radio-op{
    margin-left: 2rem;
    margin-top: 0rem;
    margin-right: 2rem;
    float: left;
}

#btn-validar{
    margin-left: 9rem;
    margin-top: 0rem;
}

.asistencia-reservacion{
    margin-top: 1rem;
}

#reservacion_cliente{
    width: 90%;
}

#admin-logout{
    color: #ff4c68;
}