/*Nav Bar section*/

.logo{
    margin-top: -0.1rem;
    height: 50px;
    width: 100px;
}

#coffeepet-l{
    font-weight: 600;
}

/*Containers*/

.carousel-section{
    padding: 7% 15%;
}

.color-section{
    background-color:#ff4c68;
    color: white;
}

.navbar{
    padding: .3rem 0 .3rem 4.5rem;
    float: inline-start;
}

#n-pets,#n-login,#n-about{
    color:#ffffff;
}
.n-left{
    margin-left:1.5rem;
}

#n-login{
    margin-left: -0.5rem;
    margin-right: 0.5rem;
}

.s-cross-centerNB {
    -moz-box-align: center;
    align-items: center;
    align-content: center;
    display: flex;
    flex-wrap: wrap;
}

.s-to-right {
    margin-right: 0;
    margin-left: 29rem;
}

.pets-btn{
    border: 0px solid;
    border-radius: 5px;
    margin-right: 0.5rem;
}

.about-btn{
    border: 0px solid;
    border-radius: 5px;
    margin-right: 0.5rem;
}

/* Perfil Page */

h2{
    font-weight: 600;
    font-size: 38px;
}
.perfil{
    overflow: hidden;
    width: 100%;
    height: 100%;
    margin-bottom: 1rem;
}
img{
    height: 100px;
    width: 200px;
    margin-top: 2rem;
}
.perfil-box{
    position: relative;
    /* display: inline-block; */
    float: left;
    text-align: center;
    width: 20%;
    margin-left: 6rem;
    margin-top: 3rem;
    outline: 1px solid  rgba(146,161,176,.15);
}
.card-template {
    background: var(--white-color);
    border-radius: .5rem;
    border: 1px solid var(--border-color);
}
.card-template:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20px;
    border-radius: 100%;
    background: rgba(146,161,176,.15);
    filter: blur(5px);
    transform: translateY(calc(100% - .75rem));
    z-index: -1;
}

.perfil-info{
    position: relative;
    float: left;
    /* display: inline-block; */
    text-align: left;
    width: 60%;
    margin-left: 3rem;
    margin-top: 3rem;
    outline: 1px solid  rgba(146,161,176,.15);
}
input{
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}
.form-small-input{
    float: left;
    width: 43.6%;
}

.input-right{
    margin-left: 5.9rem;
}

.footer{
    margin-top: 5rem;
}

.form-container{
    padding-top: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 2rem;

}

.top-buffer{
    margin-top: 55px;
    padding-top: 55px;
}

label{
    font-size: 30px;
}

#perfil-button{
    width: 50%;
    margin-top: 2rem;
    margin-left: 12.5rem;
    margin-bottom: 2rem;
}

.form-control {
    width: 100%;
    height: 39px;
    padding: 6px 12px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.form-control, output {
    font-size: 18px;
    line-height: 1.428571429;
    color: #555;
    display: block;
}

.icon-box{
    position: absolute;
    margin-top: -1.6rem;
    margin-left: 19rem;
    color: gray;
}

.ocultar{
    display: none;
}

#selectEstados{
    width: 100%
}

#empty{
    float: left;
    margin-top: 20px;
    padding-top: 20px;
    color: #fff;
    width: 100%;
}
.choice{
    position: relative;
    float:left;
    width: 40%;
}

#alcaldiaChoice{
    margin-left:2rem;
}

.PDC{
    font-size: 20px;
    margin-bottom: 20px;
}

#perfil-options{
    color: rgba(50, 54, 56, 0.808);
    /* color: black; */
}

#perfil-logout{
    color: #ff4c68;
}

#User{
    font-weight: 600;
    color: #fff;
}

/* Footer Section */

.social-icon{
    margin: 40px 10px;
}
.footer-section{
    padding: 2% 15%;
    text-align: center;
}

/* About Page */

.cafeteria{
    position: relative;
    width: 1015px;
    height: 450px;
    margin-top: 0.5rem;
    margin-left: 10rem;
}
#cafeteria-img{
    position: absolute;
    width: 1015px;
    height: 450px;
    margin-top: -0rem;
    border: 1px solid gray;
    /* margin-top: 0.5rem;
    margin-left: 10rem; */
}

.cafeteria::after{
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    /* border-radius: 100%; */
    background: rgba(70, 73, 75, 0.623);
    filter: blur(8px);
    /* transform: translateY(calc(100% - .75rem)); */
    z-index: -1;
}

.about-title{
    position: absolute;
    z-index: 2;
    text-align: right;
    margin-top:3rem;
    margin-left: 2rem;
    font-size: 40px;
    color: white;
}

.card-template {
    position: relative;
    background: var(--white-color);
    border-radius: .5rem;
    border: 1px solid var(--border-color);
}
.card-template:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20px;
    border-radius: 100%;
    background: rgba(146,161,176,.15);
    filter: blur(5px);
    transform: translateY(calc(100% - .75rem));
    z-index: -1;
}

/* Home Page */

/* Pets Section */

.pets-text{
    font-size:3rem;
    line-height:1.5;
}

.press-logo{
    width:15%;
    margin:20px 20px 50px;
}


/* Testimonial Section */

.testimonial-text{
    font-size:1.8rem;
    text-align: justify;
    line-height:1.5;
}

.testimonial-image{
    width:10%;
    border-radius: 100%;
    margin-top: 2rem;
    margin-left:22.5rem;
}

.new-testimonial-image{
    width: 100px;
    height: 100px;
    border-radius: 100%;
    margin-top: 2rem;
    margin-left:22.5rem;
    margin-bottom: -0.4rem;
}

.press-logo{
    width:15%;
    margin:20px 20px 50px;
}


.label-review{
    color: #34dd50;
    font-size: 80px;
}

.section-btn{
    padding: 0.8rem 1rem 2.7rem 1rem;
    position: relative;
    text-align: center;
    margin-left: 32.8rem;
    /* margin-right: -40rem; */
    width: 300px;
    height:40px;
    margin-top: -1.5rem;
    margin-bottom: 2rem;
}

#pets-section-label{
    margin-top: 3rem;
    margin-left: 28rem;
    font-size:80px;
}

#testimonial-section-label{
    margin-top: 3rem;
    margin-left: 21rem;
    font-size:80px;
}

.carousel-control-next-icon,.carousel-control-prev-icon{
    background-color: #71DD34;
    border-radius: 100%;
}


/*Reservacion Page */
.car-img {
    height: 450px;
    width:120%;
    margin-top: 0rem;
    margin-left: 0rem;
}
#carousel-section1{
    width:80%;
    margin-left: 8rem;
}
.card-template {
    background: var(--white-color);
    border-radius: .5rem;
    border: 1px solid var(--border-color);
}
.card-template:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20px;
    border-radius: 100%;
    background: rgba(146,161,176,.15);
    filter: blur(5px);
    transform: translateY(calc(100% - .75rem));
    z-index: -1;
}

.reservation-section{
    position: relative;
    float: left;
    /* display: inline-block; */
    text-align: left;
    width: 90%;
    margin-left: 4rem;
    margin-top: 3rem;
    outline: 1px solid  rgba(146,161,176,.15);
}
h1 {
    font-size: 60px;
    text-align: center;
}
h2{
    margin-top: 3rem;
    font-size: 50px;
    font-weight: 400;
}
label{
    font-size: 30px;
    font-weight: 200;
    margin-right: 1rem;
}
.radio-part{
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.radio-op{
    margin-left: 2rem;
    margin-top: 0rem;
    margin-right: 5rem;
    float: left;
}

#left-op{
    margin-left: 3rem;
}

.op-info{
    color:#555;
}
.inputs-op{
    margin-top: 1rem;
}

#fecha-reservacion{
    margin-top: 1rem;
    margin-bottom: 2rem;
    width: 60%;
}

#hora-info{
    margin-left: -0.5rem;
}
.form-container{
    padding-top: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 2rem;

}

.form-control {
    width: 100%;
    height: 39px;
    padding: 6px 12px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.form-control, output {
    font-size: 18px;
    line-height: 1.428571429;
    color: #555;
    display: block;
}

.ocultar{
    display: none;
}

#reservacion-button{
    width: 50%;
    margin-top: 3rem;
    margin-left: 15rem;
    margin-bottom: 1rem;
}

#textarea-op{
    margin-top: 1.5rem;
    margin-left: 3rem;
}

.choice{
    color: #ffffff;
    border-color: #ffffff;
    opacity: 0.0;
}

#btnEliminarCuenta{
    font-size: 14px;
    font-weight: 700;
    margin-top: 1rem;
    margin-bottom: 2rem;
}