<%- include("../partials/header", {page:'About'}); -%>

<div class="cafeteria">
    <h2 class="about-title">¿Quiénes somos?</h2>
    <img id="cafeteria-img" src="img/cafeteria.jpg">
</div>

<%- include("../partials/footer"); -%>