<%- include("../partials/headerSimple", {page:'Admin'}); -%>
<div>
    <div>
        <h1>Estas en el admin</h1>
    </div>
    <a href="logout">
        <button>Logout</button>
    </a>
</div>

<%- include("../partials/footer"); -%>


