<%- include("../partials/headerSimple", {page: 'Error'}); -%>
<body>
    <div class="error-message">
        <div class="container">
            <h1 class="display-4">Oh Oh!</h1>
            <p class="lead">There was an error with your request, please try again!</p>
        </div>
        <a href="/">
            <button class="trybtn btn btn-lg btn-warning" type="submit">Try Again</button>
        </a>
    </div>
    
</body>
</html>