<%- include("../partials/userHeader", {page:'Home'}); -%>
<!-- Introduction -->

<section class="color-section" id="">
  <div id="" class="News">
    <div>
      <blockquote class="blockquote text-center">
        <h1>Ultimas noticias de Coffee Pet </h1>
        <img class="Anuncio" src="img/Coffee Pet-LOGO 22.svg" alt="Coffee Pet Logo">
      </blockquote>
    </div>
  </div>
</section>


  <!-- Mascotas -->
  <section class="white-section" id="pets-section">
    <div id="pets-section-label">
      <label class="label-review">Mascotas</label>
    </div>
    <div id="pets-carousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active container-fluid carousel-section">
                <h2 class="testimonial-text">Amistoso y jugueton canino, que atraera tu atención a primera vista.</h2>
                <img class="new-testimonial-image" src="img/pets/golden.jpg" alt="golden-profile">
                <em class="testimonial-em">Mylo</em>
            </div>
            <div class="carousel-item container-fluid carousel-section">
                <h2 class="testimonial-text">Pequeño loro que le encanta ser acariciado y que lo llenen de mimos, muerde como sinonimo de cariño.</h2>
                <img class="new-testimonial-image" src="img/pets/loro.jpg" alt="loro-profile">
                <em>Larry</em>
            </div>
            <div class="carousel-item container-fluid carousel-section">
              <h2 class="testimonial-text">Felino timido pero con grandes aspiraciones de crecer y ser la más feroz de todas.</h2>
              <img class="new-testimonial-image" src="img/pets/persablanco.jpg" alt="persab-profile">
              <em>Lily</em>
          </div>
          <div class="carousel-item container-fluid carousel-section">
            <h2 class="testimonial-text">El más pequeño de todos, pero con un corazón inmenso. Precación: No aplastarlo.</h2>
            <img class="new-testimonial-image" src="img/pets/hamster-sirio.jpg" alt="hamstsir-profile">
            <em>Peque</em>
        </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#pets-carousel" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Anterior</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#pets-carousel" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Siguiente</span>
        </button>
    </div>
    <!--Boton a Mascota-->
    <div>
      <a href="pets">
        <button href="pets" class="btn btn-lg btn-primary section-btn" type="submit">Conocelos</button>
      </a>
    </div>
  </section>


  <!-- Testimonios -->
  <section class="testimonial-section" id="testimonials">
    <div id="testimonial-section-label">
      <label class="label-review">Testimonios</label>
    </div>
    <div id="testimonial-carousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active container-fluid carousel-section">
                <h2 class="testimonial-text">El mejor lugar para relajarse despues de una larga jornada de trabajo.</h2>
                <img class="new-testimonial-image" src="img/people/man-1.jpg" alt="mans-profile">
                <em>Marco</em>
            </div>
            <div class="carousel-item container-fluid carousel-section">
                <h2 class="testimonial-text">Un ambiente seguro y amigable para pasar tiempo con pequeños peluditos.</h2>
                <img class="testimonial-image" src="img/people/lady-img.jpg" alt="lady-profile">
                <em>Sofia</em>
            </div>
            <div class="carousel-item container-fluid carousel-section">
              <h2 class="testimonial-text">La vida con animalitos es mejor, por ende este es un lugar lleno de vida.</h2>
              <img class="new-testimonial-image" src="img/people/woman-2.jpg" alt="lady-profile">
              <em>Azul</em>
          </div>
          <div class="carousel-item container-fluid carousel-section">
            <h2 class="testimonial-text">Un cafe acariciando a un gatito, mi día perfecto.</h2>
            <img class="new-testimonial-image" src="img/people/women-3.jpg" alt="lady-profile">
            <em>Andrea</em>
        </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#testimonial-carousel" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Anterior</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#testimonial-carousel" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Siguiente</span>
        </button>
      </div>
      <!--Boton a sobre nosotros-->
      <div>
        <a href="about">
          <button href="about" class="btn btn-lg btn-primary section-btn" type="submit">Informate</button>
        </a>
      </div>
  </section>
<%- include("../partials/footer"); -%>