<%- include("../partials/userHeader", {page: 'Reservacion'}); -%>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>

<!--  -->
<div id="carousel-section1">
    <div id="carousel" class="carousel slide" data-bs-ride="carousel" data-interval="true">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="car-img" src="img/coffee2.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img class="car-img" src="img/coffee3.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img class="car-img" src="img/coffee4.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img class="car-img" src="img/coffee5.jpg" class="d-block w-100" alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>

<div class="reservation-section card-template">
    <form action="/reservacion" method="post" id="reservacion-form">
        <div class="form-container">
            <div class="input-form s-relative s-mb-2 ">
                <h1 class="">"Haz tu reservacion ya" </h1>
                <h2 >Tipo de servicion</h2>
                <div class="radio-part">
                    <div class="radio-op">
                        <label for=""> Mesa en cafeteria</label>
                        <input type="radio" name="tipoReservacion" value="mesa" id="radio1" onclick="formulario()">
                    </div>
                    <div class="radio-op" id="left-op">
                        <label for="">Paseo de mascota</label>
                        <input type="radio" name="tipoReservacion" value="paseo" id="radio2" onclick="formulario()">
                        <p class="op-info" id="">Debe tener mas de 100 puntos de confianza para la opcion de paseo</p>
                    </div>
                </div>
                <div class="inputs-op">
                    <div>
                        <label for="">Seleccione una fecha de reservacion</label>
                        <input id="fechaReservacion" type="date" name="fechaReservacion" class="form-control" placeholder="dd/mm/aaaa" required>
                    </div>
                    <div class="div-section">
                        <label for="">Seleccione una mascota para su reservacion</label>
                        <select class="mascotas-section" name="mascotas" id="mascotas" onchange="selectPet()" required><option value="0">Selecciona</option><option class="" value="1">Minnie</option><option class="" value="2">Bola</option><option class="" value="3">Pelusa</option><option class="" value="4">Maya</option>
                            <option class="" value="5">Mia</option><option class="" value="6">Max</option><option class="" value="7">Nina</option><option class="" value="8">Coco</option><option class="" value="9">Mylo</option><option class="" value="10">Marc</option>
                            <option class="" value="11">Peque</option><option class="" value="12">Larry</option><option class="" value="13">Nala</option><option class="" value="14">Lily</option><option class="" value="15">Tom</option><option class="" value="16">Jack</option>
                            <option class="" value="17">Tyson</option><option class="" value="18">Bruno</option></select>
                        <input class="mchoice" style="border: 0; border-color: white; color: white;" name="mascotaChoice" id="mascotaChoice" readonly></input>
                        </div>
                    <label for="">Seleccione las horas de reservacion</label>
                    <div class="radio-part">
                        <div class="radio-op" id="">
                            <label for="">Hora de Llegada</label>
                            <input class="hinput" style="width: 100px;" type="text" id="hLlegada" name="hLlegada" list="horaInicio" required>
                            <datalist id="horaInicio">
                                <option value="10:00"><option value="10:30"><option value="11:00"><option value="11:30"><option value="12:00"><option value="12:30"><option value="13:00"><option value="13:30"><option value="14:00"><option value="14:30"><option value="15:00"><option value="15:30"><option value="16:00"><option value="16:30"><option value="17:00"><option value="17:30"><option value="18:00"><option value="18:30"><option value="19:00">
                            </datalist>
                        </div>
                        <div class="radio-op" id="left-op">
                            <label for="">Hora de Salida</label>
                            <input class="hinput" style="width: 100px;" type="text" id="hSalida" name="hSalida" list="horaSalida" required>
                            <datalist id="horaSalida">
                                <option value="11:00"><option value="11:30"><option value="12:00"><option value="12:30"><option value="13:00"><option value="13:30"><option value="14:00"><option value="14:30"><option value="15:00"><option value="15:30"><option value="16:00"><option value="16:30"><option value="17:00"><option value="17:30"><option value="18:00"><option value="18:30"><option value="19:00"><option value="19:30"><option value="20:00">
                            </datalist>
                        </div>
                        <p class="op-info" id="hora-info">Tolerancia de 15 minutos de retraso sin aviso previo</p>
                    </div>
                    <label class=" ocultar mesa-option" for="">Seleccione la cantidad de personas y la mesa</label>
                    <div class="radio-op radio-part ocultar mesa-option" id="">
                        <label class="" for="">Numero de Personas</label>
                        <select class="" name="numPersonas" id="numPersonas" onchange="showMesas()" required><option value="0">Selecciona</option><option value="1">1 Persona</option><option value="2">2 Personas</option><option value="3">3 Personas</option><option value="4">4 Personas</option></select>
                        <label id="left-op" for="">Mesa</label>
                        <select class="" name="numMesa" id="numMesa" onchange="" required><option value="0">Selecciona</option><option value="1" class="options ocultar">Mesa 1</option><option value="2" class="options ocultar">Mesa 2</option><option value="3" class="options ocultar">Mesa 3</option><option value="4" class="options ocultar">Mesa 4</option><option value="5" class="options ocultar">Mesa 5</option><option value="6" class="options ocultar">Mesa 6</option>
                            <option value="7" class="options ocultar">Mesa 7</option><option value="8" class="options ocultar">Mesa 8</option><option value="9" class="options ocultar">Mesa 9</option><option value="10" class="options ocultar">Mesa 10</option><option value="11" class="options ocultar">Mesa 11</option><option value="12" class="options ocultar">Mesa 12</option><option value="13" class="options ocultar">Mesa 13</option><option value="14" class="options ocultar">Mesa 14</option>
                            <option value="15" class="options ocultar">Mesa 15</option><option value="16" class="options ocultar">Mesa 16</option></select>
                    </div>
                    <div class="radio-op radio-part ocultar paseo-option" id="textarea-op">
                        <textarea class="paseo-required" name="" id="" cols="70" rows="10" placeholder="Escribir el plan de salida con la mascota" required></textarea>
                    </div>
                </div>
                <button id="reservacion-button" class="btn btn-lg btn-primary" type="submit">Hacer Reservacion</button>
            </div>
            
        </div>
</div>

<h2 style="display:none;" id="uid"><%=fecha %></h2>

<script type="text/javascript">
    (function($) {
        $(document).ready(function() {
            var x = $("#uid").html();
            if(x==1){
                alert("La fecha ingresada no puede ser menor que la fecha de hoy!");  // now JS variable 'x' has the uid that's passed from the node backend.
            } 
            else if(x==2){
                alert("La mascota y la mesa seleccionadas estan ocupadas, por favor seleccione otras!");
            }
            else if(x==3){
                alert("La mascota seleccionada esta ocupada, por favor seleccione otra!");
            }
            else if(x==4){
                alert("La mesa seleccionada esta ocupada, por favor seleccione otra!");
            }

        });
    })(jQuery);
</script>
<script type="text/javascript" src="js/reservacion.js"></script>
<%- include("../partials/footer"); -%>