<%- include("../partials/userHeader", {page:'About'}); -%>

<div class="cafeteria">
    <h2 class="about-title">¿Quiénes somos?</h2>
    <label class="about-text">Somos una empresa pet-friendly que prioriza tanto a sus Cliente, como a sus empleados, buscamos un entorno amigable para la relajacion de nuestros allegados y que en su estadia puedan disfrutar de productos de la mejor calidad, 100% libres de maltrato animal.</label>
    <img id="cafeteria-img" src="img/cafeteria.jpg">
</div>

<div class="cafeteria2"></div>

<div class="cafeteria3">
    <h2 class="about-title2">Información del negocio</h2>
    <div class="caja">
        <label class="about-text2">Horario: 10:00am - 8:00pm</label><br>
        <label class="about-text2">Numero de Telefono: 5590504848</label><br>
        <label class="about-text2">Correo de Contacto: coffepet_atencion@gmail.com</label>
        <label class="about-text2">Se bueno y contactanos ^_^ Woof</label>
    </div>
</div>

<%- include("../partials/footer"); -%>